{% extends 'base.html.twig' %}

{% block title %}edição produto{% endblock %}

{% block body %}

    <h1>Edição de produto -
        <small>{{ produto.nome }}</small>
    </h1>
    <hr>
    {% include 'produto/_form.html.twig' %}

{% endblock %}